html {
    height: 100%;
    width: 100%;
}
body{
    background-color: lightgray;
}
.container-fluid {
    display: grid;
    width: 95%;
    margin: auto;
}

.container {
    display: grid;
    width: 70%;
    margin: auto;
    margin-top: 20px;
}
.text-justify {
    text-align: justify;
}
.input {
    border-radius: 20px;
    border: 1px solid blue;
    background-color: white;
    text-indent: 5px;
    height: 20px;
    margin-bottom: 15px;
    color: black;
}

.span-required {
    color: red;
    text-align: center;
    display: none;
}